*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    
}
.fondoDeHeader p{
    font-size: 1.2rem;
}
.fondoDeHeader{
    background-image: url("img/Central/imagenCentral.png");
    background-position:unset;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    
}


.colorTituloLogo{
    color:#FFFAF4;
    
}

.fondoTransparente{
    background-color: transparent;
    border: none;
    margin-top: 5rem;
    
}
/* LogoClass */
.logo2{
    
    display: none;
}
.Bigtitle{
    margin-top: 5rem;
    margin-left: 1rem;
    padding-top: 1.5rem;
    
}
/* Clases de BODY*/

body{
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    font-size: 0.8rem;
    width: 100vw;
}


/* Clases de PRODUCTOS*/
.products .card-body{
    background-color: #000000;
    height: 100%;
    
 }

.colorTituloCard{
    color:#D5AC8C;
    
}

.colorConBorde{
    color:#D5AC8C;
   
    border: 3px solid #D5AC8C;
   
}

.colorSinBorde{
    background-color: #D5AC8C;
    border: none;
    
}

.colorTituloCardAlfajor{
    color:#63421E !important;
    font-weight: 600;
   
}

.iconbanner{
    display: flex;
    justify-content: center;
    
   
}
.iconbanner p{
    text-align: center;
   
}
.iconos{
    width: 12vh;
    padding:0;
    
}

.form{
   color: #856C4F;
   text-align: center;
   font-size: 1rem;
   padding: 1rem;
    
}

.card .card-link{
  font-weight: bold;

}

.btn{
    color: #856C4F;
    
}
.btnProdDestacado{
    width: 15vw;
}
.form-control{
    background-color:#856C4F;
    border:none;
    border-radius: 10px;
   
}
/*********************** RECIPES **********************************/
.recetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin:auto;
   
}
.recetas img{
    
    width: 70vw;
    height: 35vh;
}
.textoRecetas{
  
    font-size: 1rem;
    background-color: #D0BDA0;
    width: 70vw;
    max-height: 50vh;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
/* Footer */
.logo3{
    display: none;
}
.subFooter li{
    list-style: none;
}
.subFooter{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100vw;
    height: 25vh;
    background-color: #000000;

}
.postFooter{
    width: 100vw;
    height: 4vh;
    background-color: #856C4F;
}
.footerLogo{

    /* width: 100vw;
    height: 100%;
    text-align: center; */
}
.footerMenu{
    width: 25vw;
    height: 100%;
    text-align: center;
}
.footerNav{
    width: 25vw;
    height: 100%;
    text-align: center;
}
.footerRedes{
    width: 15vw;
    height: 100%;
    text-align: center;
}
.footerMap{
    /* display: contents; */
    width: 40vw;
    height: 100%;
    text-align: center;
}
.footerMap iframe, .subFooter h5{
  display: none;
}
footer li a {
    text-decoration: none;
    color: #856C4F;
}
.subFooter h5{
    display: block;
   margin-top: 1rem;
    color: #63421E;
}
/*************************************   MEDIAS  QUERYS  **************************************/

@media (min-width: 992px) {
/* Genericos */
p{
    font-size:large;
}
/* HEADER */
header{
    position:absolute;
    width: 100vw;
    margin-top: 2rem;   
}
.bg-dark {
    background-color: transparent;
}   
 .container-fluid{
    position: absolute;
    background-color: transparent;
   
 }
.collapse{
    color: transparent;
    background-color: transparent;
    
}


/* Navbar */
.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content:center;
    font-size:x-large;
    /* padding:2rem;  */
    background-color: transparent;
    margin-top: 4rem;
    font-weight: 100;
    color:aliceblue;
    
}
.nav-item{
    margin: 0 1rem;
}
.card {
    align-items: flex-end;
}
/* Texto Central */
.fondoDeHeader h5{
    font-size: 2.9rem;
    font-weight: 200;
}

.Bigtitle{
    display: flex;
    flex-direction: column;
    width: 60vh;
    margin-right: 6rem;
    margin-top: 12rem;
}
.Bigtitle p{
color: #FFFAF4;
font-weight: 300;
}
.conocenos{
    border-radius:15px ;
    width: 16vw;
    font-weight: 500;
    color: aliceblue;
    padding: 1rem;
}

    /* LogoClass */
.logo2{
    display:contents;
    height: 15vh;
    width: 8vw;
    margin: 0 1rem;
}
.logo1{
    display: none;
}
.logo3{
    display:contents;
    height: 22vh;
    width: 14vw;
    margin: 0 1rem;
    margin-top:3rem;
}


.fondoCardProductos img{
       width: 50vw;;
    }  
 
.fondoDeHeader{
    transform: scaleX();
        width: 100vw;
        display: flex;
        justify-content:flex-end;
        height: 90vh;
        
    }

.general{
        display:flex;
        
        
    }
.general img{
        max-width: 50vw;
    }
/* Products */
.card-body{
    align-items: center;
   
}
.producto2{
   flex-direction: row-reverse;
  
}
.producto4 img{
    height: 50vh;
    width: 100vw;
}

.iconos {
    width: 13vw;
    height: 13vw;
}
.cardFormulario{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    
}
.cardFormulario img{
    height: 100%;
}
.col{
   
    max-width: 40vw;
}
.form{
    width: 60vw;
}
.btnProdDestacado{
    width: 10vw;
   
}
/**************************************************Recipes **************************************************/


.recetas{
   width: 100%;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: auto;
    grid-column-gap: 1rem;
    justify-items: center;
    /* justify-content: space-around; */
 }
 .recetasUnicas{
     display: flex;
     flex-direction: column;
     /* padding: 2rem; */
     justify-items: center;
     /* margin-left: -2rem;
     margin-right: -2rem; */
 }
 .recetas img{
   
     width: 25vw;
     height: 30vh;
 }
 .textoRecetas{
     font-size: 1rem;
     background-color: #D0BDA0;
     color:antiquewhite ;
     width: 25vw;
     max-height: 50vh;
     text-align: center;
     padding: 1rem;
     
 }

 /********************************** FOOTER *************************/

footer li{
    
    padding: 0.2rem;
    margin: 8px 0;
}
footer li a{
    text-decoration: none;
    color: var(--white);
}
footer i{
    font-size: 2rem;
}
.subFooter h5{
    display: block;
   margin-top: 1rem;
    color: #63421E;
}
.subFooter {
    display: flex;
    width: 100%;
    height: 37vh;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
}
.subFooter iframe{
    display: block;
    margin: auto;
}
.footerLogo{

    width: 10vw;
    height: 38vh;
    /* text-align: center; */
}


}


@media (max-width: 576px) {
.productDestacado{
    display:flex;
}
.producto4{
    display: flex;
    flex-direction: row;
        height: 45vh;
    }
.maizena{
        max-width: 54vw;
        margin: 0;
        padding: 0;
}
 .productoDestacado p{
    font-size: 0.8rem;
    margin-right: 40vw;
 }

 .cardMaizena {
    max-width: 100%;

}
.fondoDeHeader {
    background-position: bottom; 
}
.btnProdDestacado{
    width: 30vw;
}
/* footer */
a {
    color: #63421E;
    text-decoration: none;
}
.subFooter {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subFooter h5, .subFooter iframe{
    display: none;
}
.subFooter li{
    font-size: 0.7rem;
}
.footerNav{
    width: 30vh;
}

}

 @media (min-width: 768px){
    
} 