*{
    box-sizing:border-box;
    margin: 0;
}

.fondoDeHeader{
    background-image: url("img/Central/imagenCentral.png");
    background-position: auto;
    background-size: cover;
    width: 960px;
    height: 400px;

}


.colorTituloLogo{
    color:#FFFAF4;
}

.fondoTransparente{
    background-color: transparent;
    border: none;
    margin-top: 5rem;
}
/* LogoClass */
.logo2{
    /* border: 5px solid red; */
    display: none;
}
.Bigtitle{
    margin-top: 5rem;
}
/* Clases de BODY*/

body{
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    font-size: 0.8rem;
    
}

/* Clases de PRODUCTOS*/
.products .card-body{
    background-color: #000000;
    height: 100%;
 }

.colorTituloCard{
    color:#D5AC8C;
}

.colorConBorde{
    color:#D5AC8C;
    border-color:#D5AC8C;
}

.colorSinBorde{
    background-color: #D5AC8C;
    border: none;
}

.colorTituloCardAlfajor{
    color:#63421E !important;
}

.iconbanner{
    display: flex;
    justify-content: center;
   
}
.iconbanner p{
    text-align: center;
    /* padding: 2rem */
}
.iconos{
    width: 12vh;
    padding:0
    /* height: 20vh; */
}

.form{
   color: #856C4F;
   text-align: center;
   font-size: 1rem;
   padding: 1rem;
}

.border {
    border: 5px solid #856C4F!important;
}

.card .card-link{
  font-weight: bold;}
.btn{
    color: #856C4F
}
.form-control{
    background-color:#856C4F;
    border:none;
    border-radius: 10px;
}
.recetas{
    padding: 2rem;
}
.recetas img{
    height: 60vh;
    max-height: 50vw;
}

/*************************************   MEDIAS  QUERYS  **************************************/


@media (min-width: 992px) {
/* Genericos */
p{
    font-size: large;
}
/* HEADER */
header{
    position:absolute;
    width: 100vw;
    margin-top: 2rem;
   

    
}
.bg-dark {
    background-color: transparent;
}   
 .container-fluid{
    position: absolute;
    background-color: transparent;
   
 }
.collapse{
    color: transparent;
    background-color: transparent;
    
}

/* Navbar */
.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content:center;
    font-size:x-large;
    /* padding:25rem; */
    background-color: transparent;
    margin-top: 4rem;
    font-weight: 100;
    color:aliceblue;
    
}
.nav-item{
    margin: 0 1rem;
}
.card {
    align-items: flex-end;
}
/* Texto Central */
.fondoDeHeader h5{
    font-size: 2.9rem;
    font-weight: 200;
}

.Bigtitle{
    display: flex;
    flex-direction: column;
    width: 60vh;
    margin-right: 6rem;
    margin-top: 12rem;
}
.Bigtitle p{
color: #FFFAF4;
font-weight: 300;
}
.conocenos{
    border-radius:15px ;
    width: 16vw;
    font-weight: 500;
    color: aliceblue;
    padding: 1rem;
}
    /* LogoClass */
.logo2{
    display:contents;
    height: 15vh;
    width: 8vw;
    margin: 0 1rem;
   
}
.logo1{
    display: none;
}

.fondoCardProductos img{
       width: 50vw;;
    }  
 
.fondoDeHeader{
    transform: scaleX();
        width: 100vw;
        display: flex;
        justify-content:flex-end;
        height: 90vh;
        
    }

.general{
        display:flex;
        
        
    }
.general img{
        max-width: 49.4vw;
        /* border: 5px solid red;
         */
    }
.producto2{
   flex-direction: row-reverse;
  
}
.texto{
    /* border: 5px solid red; */
    max-width: 50vw;

}
.producto4 img{
    height: 50vh;
    width: 100%;
}
.iconos {
    width: 13vw;
    height: 13vw;
}
.cardFormulario{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.cardFormulario img{
    height: 100%;
}
.recetas{
    display: flex;
    padding: 3rem;


}
.recetas p{
    color:aliceblue;
}

}


@media (max-width: 576px) {
    .maizena{
        max-width: 50vw;
}
 .productoDestacado p{
    font-size: 0.8rem;
    margin-right: 40vw;
 }
 .productoDestacado .btn{
    /* border: 5px solid red; */
   border:solid; 
   
 }
}

